body {
  margin: 0;
  min-height: 100vh;
  background: rgb(69, 69, 69);
  background: linear-gradient(
    30deg,
    rgb(61, 61, 61) 0%,
    rgb(63, 63, 63) 15%,
    rgba(93, 93, 93, 1) 50%,
    rgba(78, 76, 76, 1) 70%,
    rgb(63, 63, 63) 85%,
    rgb(61, 61, 61) 100%
  );
}

code {
  font-family: "Montserrat", sans-serif;
}
